<!-- <div class="text-layout">

  <h1>{{nombre | lowercase}}</h1>
</div>

<button pButton 
      (click)="mostrarNombre()" 
      label="Cambiar nombre"
      icon="pi pi-send" 
      iconPos="right">
</button>
<hr>

<p-card [header]="nombre">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur officiis quidem officia, animi sint incidunt iure nobis distinctio! Fugit necessitatibus sit dolorem omnis dolor nam error rem quisquam perferendis deserunt.
</p-card> -->

<app-menu></app-menu>


<router-outlet></router-outlet>